
<div class="bk-button  buttonwidget  widget__buttonwidget  js-btn">
    <button type="button" class="button  buttonwidget__button ">{{ data.text|default('Click it!') }}</button>
</div>

<link href="{{ custom_widget_asset(widget.type, 'styles.css') }}" rel="stylesheet" type="text/css" />
